.img-cart{
    width: 5rem;
}


.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #c9c1c1;
}

.shopping-cart .content{
	box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
    border-radius: 1.5rem 0 0 1.5rem;

}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

/* .shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
} */

/* .shopping-cart .dark .block-heading p{
	opacity:0.8;
} */

.shopping-cart .block-heading h2{
	margin-bottom:1.2rem;
	color: black;
    font-weight: bold;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
    align-items: center;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.summary-container{
    background-color: #f7fbff;
    border-radius: 0 1.5rem 1.5rem 0;

}
.shopping-cart .summary{
    background-color: #dde3eb;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-finalizar{
    text-decoration: none;
    color: white;
    background-color: #3b8f37;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.boton-finalizar:hover{
    color: white;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background-color: #487946;
}

.boton-vaciar{
    
    text-decoration: none;
    color: white;
    background-color: #282936;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
}
.boton-vaciar:hover{
    color: white;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background-color: #393a3f;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}



/* From uiverse.io by @hannahyockel */
/* button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
   }
   
   button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
   }
   
   .tooltip {
    position: relative;
    display: inline-block;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   } */
   

/* From uiverse.io */
.noselect {
    width: 80px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(10px);
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(50px);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   /* button svg {
    width: 15px;
    fill: #eee;
   } */
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 80px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }

i {
    color: white;
}


.summary-item span{
    color: black;
}


.empty-cart{
    background-color: #DDE1D4;
    height: 70vh;
    padding-top: 7rem;
}
/* From uiverse.io */
.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }


   @media (min-width: 992px){
    .content-item{
        width: 75%;
    }
    
    
    .shopping-cart .content{
        
        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    
    }
    .summary-container{
        border-radius: 0 1.5rem 1.5rem 0;
        width: 25%;

    }
    .summary{
        border-radius: 0 1.5rem 1.5rem 0;
    }
} 


   @media (min-width: 768px) and (max-width: 991px){
    .shopping-cart .content{
        
        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    
    }
    .summary-container{
        border-radius: 0 0 1.5rem 1.5rem;

    }
    .summary{
        border-radius: 0 0 1.5rem 1.5rem;
    }
} 



   @media (min-width: 330px) and (max-width: 767px){
    .shopping-cart .content{
        
        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    
    }
    .summary-container{
        border-radius: 0 0 1.5rem 1.5rem;

    }
    .summary{
        border-radius: 0 0 1.5rem 1.5rem;
    }
} 
    



   