.item-box{
    margin-top: 8rem;

}
/* .row-card{
    border: 1px solid black;
    border-radius: 0.5rem;
} */

.img1{
    width: 12rem;
}

.img2 {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}
.img3 {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}
