.nav-dos{
    background-color: black;
}



@media (min-width: 576px){
    .nav-dos{
        position: fixed;
        z-index: 2;
        width: 100%;
        opacity: 0.95;
    }    
}

@media (min-width: 330px) and (max-width: 575px){
    .nav-dos{
        position: fixed;
        z-index: 2;
        width: 100%;
        opacity: 0.95;
    }    
}
    
@media (max-width: 329px){
    .nav-dos{
        position: fixed;
        width: 100%;
    }
    .logo{
        width: 5rem;
    }
}